.slide {
    width: 95%;
    height: 95%;
    display: none;
    position: absolute;
    margin: 0;
    margin-left: 0.5%;
    padding: 1% 2% 1% 2%;
}

.stim { <!-- overrides more general slide styles -->
    text-align: center;
}
